@charset "UTF-8"

//no classes or ID's

html,
body
	height: 100%
	box-sizing: border-box



body
	box-sizing: border-box
	font-size: $base-font-size
	font-family: $base-font-family
	line-height: $base-line-height
	padding: 0
	margin: 0

	+set-background($pageBG)
