@charset "UTF-8"

//no classes or ID's

body
	box-sizing: border-box
	font-size: $text
	line-height: 1.2
	padding: 0
	margin: 0
	background-blend-mode: soft-light
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

	+set-background($pageBG)
