@charset "UTF-8"

a
	transition: all .5s
  color: $armadillo
  font-family: arial
  font-size: 1.2rem

a:visited
	color: $pantone2019
	text-decoration-line: overline
	text-decoration-color: red

a:hover
	color: $antique-brass

