<menu class="shopping-menu">
	<ul class="shopping-list">
		<li> <a rel="external" href="https://zhentea.ca">Zhen Tea</a> </li>
		<li> <a rel="external"
				href="https://www.zhentea.ca/shop/chinese-tea/?swoof=1&product_cat=black-tea&really_curr_tax=28-product_cat">Black
				Tea</a> </li>
		<li><a rel="external"
				href="https://www.zhentea.ca/shop/chinese-tea/?swoof=1&product_cat=oolong-tea&really_curr_tax=28-product_cat">Oolong
				Tea</a></li>
		<li><a rel="external"
				href="https://www.zhentea.ca/shop/chinese-tea/?swoof=1&product_cat=green-tea&really_curr_tax=28-product_cat">Green
				Tea</a></li>
	</ul>
</menu>
<div class="fs-5">Site Links</div>
<menu class="shopping-menu">
	<ul class="shopping-list">
		<li><a href="http://localhost/tea/">Home</a></li>
		<li><a href="http://localhost/tea/mycal/display">Calendar</a></li>
		<li><a href="http://localhost/tea/pages/teainput">Tea Input</a></li>
		<li><a rel="external" href="http://version31/pages/todo">ToDo</a></li>
	</ul>
</menu>
<menu class="shopping-menu">
	<ul class="shopping-list">
		<li><a href="http://localhost/tea/ferment">Fermentation</a></li>
		<li><a href="http://localhost/tea/ferment/form">Ferment Input</a></li>
		<li><a href="http://localhost/tea/ferment/notes">Process Notes</a></li>
		<li><a href="http://localhost/tea/ferment/peppers">Peppers</a></li>
	</ul>
</menu>

